//
   Created by techno23 on 3/1/14.

!!!
html
    head
        script(src="javascript/jquery.min.js")
        script(src='javascript/jquery.couch.js')

        script
            $.couch.urlPrefix = "http://192.168.0.143:37792";

            function map(){

            }
            $.couch.db('task_manager').query("function(doc) {if(doc.type == \"task\"){ emit(null, doc);}}" ,"_count","javascript",
                       {
                           success:function(data){
                              showTableData(data.rows);
                           },
                           error : function(status){
                              alert("Error  while getting task. . .!!" + status);
                           },
                           reduce : false
                       }
            );

            function showTableData(data){
                    console.log(data)
                    var div = document.getElementById("message");
                    var str = "";
                    for(var i=0; i<data.length;i++){
                        console.log(data[i].value.title);
                        str+="<tr>"
                            str +="<td id='nc-task' align='left'><b><em>"+data[i].value.admin+"</em>&nbsp;&nbsp;:&nbsp;&nbsp;<a class='nc-task-link' href='chat.html?task_id="+data[i].id+"'>"+data[i].value.title+"</a></b></td></tr>";
                    }

                    div.innerHTML = str;
                }
    link(rel='stylesheet', href='./stylesheets/contacts.css')
    body(align='center')
        .header(align='center', style = 'background-color: pink')
            table(align='left')
                tr
                    td(style="float:left; background-color:#AA5577")
                        a(href="./app.html", style="padding:0px 10px 0px 10px") Refresh
            h2 Task Manager

        .mainBody(align='center')
            .content
                div#table-scroll
                    table#message(class='table-w-100', align='left',style = 'background-color: yellow')

        .footer(style = 'background-color: pink')
            a(href="newTask.html") Add Task


