//
   Created by techno23 on 8/1/14.
!!!
html
    head
        script(src='javascript/jquery.min.js')
        //script(src='http://code.jquery.com/jquery-1.10.1.min.js')
        script(src='./javascript/uuidGenerator.js')
        script(src='./javascript/jquery.couch.js')
        script(src='./javascript/socket.io.js')
        script
            $.couch.urlPrefix = "http://192.168.0.143:37792";
            var socket = io.connect('http://192.168.0.186:8888');
            var task_id = (location.pathname + location.search).split('=')[1];
            var user = localStorage.mobNo;

            socket.emit('adduser', {task_id:task_id, user:localStorage.mobNo});

            if(localStorage.mobNo == undefined || localStorage.mobNo == null){
               window.location.href='./index.html';
            }


            $.couch.db('task_manager').query("function(doc) {if(doc.type == \"comment\" && doc.task == \"" + task_id + "\") emit(doc.comment_time, doc);}" ,"_count", "javascript",
               {
                   success:function(data){
                      showTableOfComment(data.rows);
                   },
                   error : function(status){
                      alert("Error  while loading comments. . .!!" + status);
                   },
                   reduce : false
               }
            );

            function showTableOfComment(data){
               var div = document.getElementById('message');
               var str = "";
               for(var i = 0; i<data.length; i++){
                   str += "<tr><td align=\"center\" style=\"border:solid black 2px; padding: 3px 10px 3px 10px; width:260px\"><span style=\"font-size:10px; float:left; padding-righ:10px\">"+data[i].value.comment_time+"</span><br /><span id=\"comments\"><b>"+data[i].value.comments+"</b></span><br /><span style=\"font-size:10px; float:right\">"+data[i].value.user+"</span></td></tr>";
               }
               div.innerHTML = str;
            }
            function addComment(){

            }
            socket.on('updateComment', function(user, data, comment_time){

               $('#message').append("<tr><td align=\"center\" style=\"border:solid black 2px; padding: 3px 10px 3px 10px; width:260px\"><span style=\"font-size:10px; float:left; padding-righ:10px\">"+comment_time+"</span><br /><span id= \"comments\"><b>"+data+"</b></span><br /><span style=\"font-size:10px; float:right\">"+user+"</span></td></tr>");
            });
            $(function(){
                 $('#sendComment').click(function(){
                     var task_id = (location.pathname + location.search).split('=')[1];
                     var user = localStorage.mobNo;
                     var comment = $('#commentField').val();
                     var comment_time = (new Date()).toString();
                     console.log("before:" + {task_id:task_id, user:user, comment: comment, comment_time:comment_time});
                     var socketcheck = socket.emit('sendComment', {task_id:task_id, user:user, comment: comment, comment_time:comment_time})
                     console.log("after:"+socketcheck);
                     if(socketcheck.socket.open===true){
                         var addComment= {
                             _id : 'comment_' + uuid(),
                             comment_time : comment_time,
                             comments : comment,
                             task : task_id,
                             user : localStorage.mobNo,
                             type : 'comment'
                         }
                         $.couch.db('task_manager').saveDoc(addComment,{
                                 success : function( data){
                                       console.log("comment added");
                                 },
                                 error : function(status){
                                      alert("error..." + status);
                                 }

                         });
                         /*db.put(addComment, function(err, res){
                               console.log('added ');
                         });*/

                         $('#commentField').val('');
                     }
                 });
                 // when the client hits ENTER on their keyboard
                 $('#commentField').keypress(function(e) {
                     if(e.which == 13) {
                         $(this).blur();
                         $('#sendComment').focus().click();
                     }
                 });
            });
        link(rel='stylesheet', href='./stylesheets/contacts.css')
    body(align="center")
        .header(align = 'center')
            table(align='left')
                tr
                    td(style="float:left; background-color:#AA5577")
                        a(href="./app.html", style="padding:0px 10px 0px 10px") Back
            | Task Chat Manager
        .mainBody
            .content
                div#table-scroll
                    table#message(class='table-w-100', align='center')
        .footer(align="center")
            form(method="POST", name="CommentForm")
                table#table-w-100
                    tr
                        td(style="float:left; background-color:#AA5577")
                            a(href="./", style="padding:0px 10px 0px 10px") &#9786;
                        td(style="width:100%")
                            textarea(rows=2, style="margin:0; padding:0; resize:none; width:99%", required, name='comment', id='commentField')
                        td(style="float:right; padding:0px 10px 0px 10px")
                            input(type='button', value='SEND', style="padding:0px 10px 0px 10px", onclick='addComment();', id='sendComment')
