//
   Created by techno23 on 3/1/14.

!!!
html
   head
       title online application
       script
           if(localStorage.mobNo!= null){
                window.location.href = './app.html';
           }
           function login(){
               var mobileNo = document.getElementById('mobileNo').value;
               localStorage.mobNo = mobileNo;
               window.location.href = './app.html';

           }


       link(rel="stylesheet", href="./stylesheets/contacts.css")

   body(align ='center')
       .header(align ='center')
               | Task Chat Manager
           .mainBody(align ='center')
               .content(align ='center')
                   form(method ='POST', onsubmit='login()')
                       table
                           tr
                               td
                                  label Mobile Number :
                                  input(type ='text', id="mobileNo", name="mobileNo", required="true" )
                           tr
                               td(align="center")
                                   input(type="submit", value ="login")
