/*
 * Copyright (c) 2012, Intel Corporation. All rights reserved.
 * File revision: 04 October 2012
 * Please see http://software.intel.com/html5/license/samples
 * and the included README.md file for license terms and conditions.
 */

/* Contact info page styles */


.iSectionItem {
    display: block;
    border-top: gray solid 1px;
    margin: 0px;
    padding: 0px;
    clear: both;
}

.iItemType {
    display: block;
    font-size: 1.5em;
    margin: 0px;
    padding-left: 5px;
    padding-right: 5px;
}

.iItemValue {
    display: block;
    margin: 0px;
    padding: 5px;
}

/* Contact info page and contact list page styles */
.contactImage {
    position: relative;
    float: left;
    clear: left;
    margin: 12px;
    padding: 3px;
    background: white;
    border: black solid 2px;
}

.contactInfo {
    position: relative;
    float: left;
    margin: 5px;
    padding: 10px;
}

/* Edit contact form styles */
.fSection {
    display: none;
    border-top: gray solid 1px;
    padding-top: 10px;
    margin-top: 15px;
}

.fSectionHeader {
    color: lightgray;
    font-weight: bold;
    font-size: 1.2em;
    margin-bottom: 20px;
}

.fSectionItem {
    font-size: 1em;
    margin-bottom: 20px;
}
.footer {
    height: 50px;
    background-color: #F5A9BC;
    position: absolute;
    bottom: 0;
    width:100%;
    vertical-align: middle;
    line-height:35px;
}
{
    margin: 0;
    padding: 0;
}
body {
    margin:0;
}
a {
    text-decoration:none;
}
.header {
    height: 40px;
    background-color: #D3D3D3;
    font-size: x-large;
    vertical-align: middle;
    line-height:40px;
}
h1 {
    margin: 0;
}
#task-title{
    top: 40px;
    width:100%;
    color:#FFFFFF;
    background-color: #995566 ;
}
.taskMainBody {
    position: absolute;
    top: 60px;
    bottom: 50px;
    width:100%;
}
.mainBody {
    position: absolute;
    top: 70px;
    bottom: 50px;
    width:100%;
}
.content {
    color:#995566;

}
.footer {
    height: 50px;
    background-color: #F5A9BC;
    position: absolute;
    bottom: 0;
    width:100%;
    vertical-align: middle;
    line-height:35px;
}
#table-scroll {
    position: absolute;
    top: 0px;
    bottom: 0px;
    overflow:auto;
    margin-top:2px;
    width:99%;
    border:solid black 2px;
}
.table-w-100{
    width: 100%;
}
#nc-task{
    border:solid black thin;
    padding: 10px 10px 10px 10px;
    overflow:auto;
    background-color:lightyellow;
}
#c-task{
    border:solid black thin;
    padding: 10px 10px 10px 10px;
    overflow:auto;
    background-color:green;
}
.c-task-link{
    color:#FFFFFF;
}
.nc-task-link{
    color:#000000;
}
#comments{
    font-size:14px;
    float:right;
    text-align: justify;
    color: #000000;
}
